<h1 class="text-center">Demo Inyeccion de Dependencias</h1>

<h2 class="text-center">Listado de Productos</h2>
<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <td></td>
        <td>Id</td>
        <td>Marca</td>
        <td>Nombre</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productoAux of productos.rows; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ productoAux.value._id }}</td>
        <td>{{ productoAux.value.marca }}</td>
        <td>{{ productoAux.value.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
